body{
    background-color: #6c5ce7;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

#container{
    font-family: 'Poppins', sans-serif;
    color: #2d3436;
    background-color: #FFF;
    padding: 50px;
    border-radius: 25px;
    margin-top: 5%;
}

h1{
    text-align: center;
}

input, select{
    border: 1px solid rgb(136, 136, 136);
    border-radius: 3px;
    height: 25px;
}

input:hover, select:hover{
    box-shadow: #6c5ce7 0px 2px 8px 0px;
}

#email{
    width: 60%;
}

button{
    font-family: 'Poppins', sans-serif;
    border-style:none;
    border-radius: 3px;
    color: #FFF;
    background-color: #2d3436;
    height: 30px;
    margin-left: 50%;
}

button:hover{
    background-color: #6c5ce7;
    color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

